.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolbarLeft,
.toolbarRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.toolbarRight {
  font-size: medium;
}

.toolbarRight a,
.toolbarRight a:visited {
  color: white;
}
